*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

/* MAIN CONTENT */
.container {
  max-height: 960px;
  max-width: 960px;
  margin: 0 auto;

  /* Flexbox */
  display: flex;
  flex-direction: column;
}

.grid {
  flex: 1 1 auto;
  border: 1px solid black;

  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-row {
  height: auto;
  display: flex;
}

.grid-item {
  cursor: pointer;
}
/* END OF MAIN CONTENT */
